@import "tailwindcss";

@keyframes slidein {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  20% {
    transform: translateX(0%);
    opacity: 1;
  }

  80% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slidein {
  animation: slidein 3s forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoomIn {
  animation: zoomIn 0.5s forwards;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}